:root {
  // Colors
  --color-primary: #242edb;
  --color-primary-light: #797fea;
  --color-secondary: #3c538e;
  --color-success: #ebf3ea;
  --color-error: #f11010;

  // Grayscale
  --color-white: #ffffff;
  --color-gray-50: #f9f9f9;
  --color-gray-100: #f3f3f3;
  --color-gray-150: #ededed;
  --color-gray-200: #ebebeb;
  --color-gray-250: #e0e0e0;
  --color-gray-275: #c9c9c9;
  --color-gray-300: #e2e2e2;
  --color-gray-400: #ececeb;
  --color-gray-500: #b2b3b9;
  --color-gray-600: #9c9c9c;
  --color-gray-700: #999999;
  --color-gray-800: #6c6c6c;
  --color-gray-900: #232323;

  // Fonts
  --font-family-inter: 'Inter', sans-serif;
  --font-family-cairo: 'Cairo', sans-serif;
  --font-family-open-sans: 'Open Sans', sans-serif;
  --font-family-roboto-mono: 'Roboto Mono', monospace;

  // Font sizes
  --font-size-3xl: 40px;
  --font-size-2xl: 32px;
  --font-size-xl: 24px;
  --font-size-lg: 20px;
  --font-size-md: 18px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;

  // Line heights
  --line-height-display: 110%;
  --line-height-title-large: 100%;
  --line-height-title-medium: 100%;
  --line-height-title-small: 100%;
  --line-height-subtitle: 100%;
  --line-height-body: 150%;
  --line-height-caption: 110%;

  // Letter spacing
  --letter-spacing-display: -1.5%;
  --letter-spacing-default: 0%;

  // Shadows
  --shadow-sm: 0px 24px 32px rgba(0, 0, 0, 0.04);
  --shadow-md: 0px 4px 20px rgba(0, 0, 0, 0.08);
  --shadow-lg: 0px 24px 32px rgba(0, 0, 0, 0.1);

  // Border radius
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 20px;
  --radius-3xl: 24px;
  --radius-4xl: 32px;
  --radius-5xl: 34px;
  --radius-6xl: 40px;
  --radius-full: 9999px;

  // Spacing
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;

  // Gap
  --gap-4xs: var(--spacing-4);
  --gap-3xs: var(--spacing-6);
  --gap-2xs: var(--spacing-8);
  --gap-xs: var(--spacing-10);
  --gap-sm: var(--spacing-12);
  --gap-md: var(--spacing-16);
  --gap-lg: var(--spacing-20);
  --gap-xl: var(--spacing-24);
  --gap-2xl: var(--spacing-32);
  --gap-3xl: var(--spacing-40);
}
