.form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  min-width: 400px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-md);
  margin-top: var(--spacing-8);
}
